.advantages__title {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;

  @media screen and (max-width: 767px) {
    margin-bottom: 10px;
  }
}

// ! ПРИХОВАНИЙ ЗАГОЛОВК
.advantages__main-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .advantages__item {
    max-width: 354px;
  }
}

@media screen and (min-width: 1199px) {
  .advantages__list {
    display: flex;
    justify-content: space-between;
  }

  .advantages__item {
    width: 270px;
  }
}

.advantages__text {
  font-family: var(--primary-page-font);
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  color: var(--secondary-page-color);

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.advantages__svg-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
