.customers__title {
  margin-bottom: 30px;

  font-size: 28px;
  line-height: 1.17;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.16;
  }
}

.customers-list {
  display: flex;
  gap: 30px;

  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.customers-list__link {
  display: flex;
  width: 100%;
  height: 100%;
  fill: #afb1b8;
  justify-content: center;
  align-items: center;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: fill var(--trans-accent), border-color var(--trans-accent);

  &:focus,
  &:hover {
    border-color: var(--accent-page-color);
    fill: #2196f3;
  }
}

.customers-list__item {
  width: 210px;
  height: 92px;

  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}
