.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/bg-hero/Img\ \(3\).jpg');
  background-color: #2f303a;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  max-width: 1600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
}

.hero-title {
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-accent-page-color);
}
.model-btn {
  transition: background var(--trans-accent), box-shadow var(--trans-accent);
  border: none;
  border-radius: 4px;
  padding: 10px 32px;

  font-family: inherit;
  background: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--secondary-accent-page-color);

  &:hover,
  &:focus {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}
