.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-text {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-page-color);
}

.modal-form-field {
  display: block;
  margin-bottom: 10px;
}

.modal-form-input-desc {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-page-color);
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-input {
  display: block;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;

  font-size: 16px;

  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border var(--trans-accent);

  &:focus {
    outline: none;
    border: 1px solid var(--accent-page-color);
  }
}

.icon-form {
  transform: translateY(50%);
  position: absolute;
  top: 0;
  left: 12px;
  transition: fill var(--trans-accent);

  .modal-form-input:focus + & {
    fill: var(--accent-page-color);
  }
}

.modal-form-field-message {
  margin-bottom: 20px;
}

.modal-form-message {
  resize: none;
  width: 100%;
  padding: 12px 16px;
  min-height: 120px;

  font-size: 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--trans-accent);

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    outline: none;
    border: 1px solid var(--accent-page-color);
  }
}

.modal-form-check-desc {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  align-items: center;
  line-height: 1.4;

  letter-spacing: 0.03em;

  color: #757575;
  color: var(--secondary-page-color);
  transition: background-image 2s linear;

  &::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;

    margin-right: 7px;
    cursor: pointer;

    border: solid 2px var(--primary-page-color);
    border-radius: 2px;
    transition: background-color var(--trans-accent);
  }

  .modal-form-check:checked + &::before {
    background-color: var(--accent-page-color);
    border: transparent;
    background-image: url(../images/check-mark.svg);
    background-position: center;
    background-repeat: no-repeat;
  }

  .modal-form-check:focus + &::before {
    outline: 1px solid var(--accent-page-color);
    border: none;
  }
}

.modal-form-check-desc-link {
  display: inline-block;

  color: var(--accent-page-color);
  border-bottom: 1px solid var(--accent-page-color);
}

.modal-form-btn {
  align-self: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: none;

  cursor: pointer;

  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;

  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background var(--trans-accent), box-shadow var(--trans-accent);

  &:focus,
  &:hover {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}
