h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}
body {
  font-family: var(--primary-page-font);
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--secondary-accent-page-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
