:root {
  --primary-page-font: 'Roboto', sans-serif;
  --secondary-page-font: 'Raleway', sans-serif;
  --primary-page-color: #212121;
  --secondary-page-color: #757575;
  --accent-page-color: #2196f3;
  --secondary-accent-page-color: #fff;
  --trans-accent: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
